{
	"server": {
		"host": "irc.example.com",
		"port": 6697,
		"ssl":	true,
		"allow_invalid_ssl": false,
		"chans": [
			"#example"
		]
	},

	"client": {
		"nick": "quoteBot",
		"user": "quoteBot",
		"real": "quoteBot",
		"pass": "",
		"nickserv": {
			"user": "quoteBotUser",
			"pass": "supersecure"
		}
	},

	"kick_autorejoin": true,

	"log": true,
	"commandchar": ["!"],

	"modules": [
		"time",
		"say"
	],

	"allowbyaccount": true,
	"allowed": [
		"admin"
	]
}